%table.table.table-striped.sortable
  %thead
    %tr
      %th Ticker
      %th Razão Social
      %th Nome de Pregão
  %tbody
    - @funds.each do |fund|
      %tr
        %td= fund.ticker
        %td= link_to fund.corporate_name, fund
        %td= fund.trading_name
