<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="/">Caça Fundos</a>
    <ul class="nav">
      <%= nav_link_to "Fundos Imobilíarios", root_path %>
      <%= nav_link_to "Novidades", whats_new_path %>
    </ul>
  </div>
</div>
