<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="/">Caça Fundos</a>
    <ul class="nav">
      <li class="active"><a href="#">Fundos Imobilíarios</a></li>
    </ul>
  </div>
</div>
